<div id="<%= dom_id apartment %>">
  <p>
    <strong>Address:</strong>
    <%= apartment.address %>
  </p>

  <p>
    <strong>Beds:</strong>
    <%= apartment.beds %>
  </p>

  <p>
    <strong>Baths:</strong>
    <%= apartment.baths %>
  </p>

  <p>
    <strong>Sqf:</strong>
    <%= apartment.sqf %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= apartment.image %>
  </p>

</div>
